# Build
build/
out/
cmake-build-*/
*.user

# Binaires hérités du squelette initial
prog.exe

# Journaux d'outillage
aqtinstall.log

# IDE
.idea/workspace.xml
.idea/shelf/
.vs/

# Windows
Thumbs.db
desktop.ini
